$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(max-width:768px)";

$darkBlue: #4734e1;
$lightBlue: #415dda;
$darkPurple: #8e27ea;
$lightPurple: #8253df;
$startGradient: #5432e3;
$midGradient: #752ce7;
$endGradient: #8e27ea;
$darkYellow: #ffac06;
$lightYellow: #efcd25;
$darkRed: #ee3d3d;
$lightRed: #f26565;
$white: #ffffff;
$gray: #efefef;
$lightGray: rgba(20, 18, 18, 0.87);
$darkGray: #141212;
$blue: #4c33e2;
